{% extends "sketch/header.html" %}
{% block content %}

<p>'yoyoyo! enter the stock you want to search below'.</p>
<style>
body{
   background-color: #800020;
   <!--background-color: blue;-->
   }
</style>



<html>

<head>
<script>
function validateForm() {
    var x = document.forms["sumbit_symbol"]["info_name"].value;
    if (x == "") {
        alert("Please enter a stock symbol");
        return false;
    }
}
</script>
</head>
<body>

<form name="sumbit_symbol" action="submit" onsubmit="return validateForm()" method="post">{% csrf_token %}
  {{ form.as_table }}

    <input type="text" name="info_name" placeholder="Enter Stock Symbol" />
  <input type="submit" value="Submit">
</form>


<p>Yesterdays closing price for {{name}} fetched from {{listed_site}} is : {{close_val}}</p>

</body>
</html>
{% endblock %}