{% include "jobs_app/header.html" %}
{% load static %}
<br/><br/><br/><br/><br/><br/>
{% block content %}

<center>
    <body>
        <p>Enter the Stock Symbol you wish to search.</p>
        <head>
            <title>Home</title>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
        </head>

        <head>
            <script>
                function validateForm() {
                    var x = document.forms["sumbit_symbol"]["info_name"].value;
                    if (x == "") {
                        alert("Please enter a stock symbol");
                        return false;
                    }
                }
            </script>
        </head>

        <form name="sumbit_symbol" action="submit" onsubmit="return validateForm()" method="post">{% csrf_token %}
          {{ form.as_table }}

            <input type="text" name="info_name" placeholder="Enter Stock Symbol" />
          <input type="submit" value="Submit">
        </form>

        <p>Yesterdays closing price for {{name}} fetched from {{listed_site}} is : {{close_val}}</p>
    </body>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>

        {% autoescape off %}
           {{ table }}
        {% endautoescape %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>

        <script>
            $(document).ready(function() {
            $('#example').DataTable();
            } );
        </script>

</center>

{% endblock %}